/*html { 
  margin-left: calc(100vw - 100%); 
}*/

.error {
  color: red;
}

.grey {
  color: #eceeef !important;
}

.news-source-list-item {
  cursor: pointer;
  border-right: 0px !important;
  border-left: 0px !important;
}

.pointer {
  cursor: pointer;
}

.news-source-list-item:hover {
  background-color: #eceeef;
}

.article-list {
  margin-bottom: 6px !important;
  float: right !important;
}

.jumbotron { 
  margin-top: 15px !important;
  margin-bottom: 15px !important;
  padding: 17px !important;
  padding-left: 20px !important;
  background-color: #f8f8f8 !important;
  border: 1px solid #e7e7e7;
}

.news-source-header {
  background-color: #eceeef !important;
  font-weight: bold;
  cursor: pointer;
}

.navbar {
  margin-bottom: 0px !important;
}

.col-md-3 {
  padding-left: 0px !important;
}

.float-right {
  float: right;
}

.email-header {
  float: right !important;
  margin-right: 30px !important;
}

.panel-body {
  padding: 0px !important;
}

/*button.list-group-item {
  border-right: 0px;
  border-left: 0px;
}
*/

button.list-group-item:first-child {
  border-top: 1px;
}

button.list-group-item:last-child {
  border-bottom: 1px;
}

.add-favorites-message {
  text-align: center;
  margin-bottom: 20px !important;
  margin-top: 25px !important;
}

.favorites-list {
  -moz-column-width: 13em;
  -webkit-column-width: 13em;
  column-width: 13em;
  margin-top: 12px;
}

.list-group {
  margin-bottom: 0px !important;
}

.favorite-item:nth-child(12n) {
  border-bottom: 1px solid #eceeef;
}

.favorite-item {
  padding: 7px !important;
  border: 1px solid #eceeef;
  cursor: pointer;
  border-bottom: 0px;
}

.favorite-item:hover {
  background-color: #eceeef
}

ul {
  list-style-type: none;
  padding: 0px;
}

.form-control {
  width: 20% !important;
}

.form-margin-top {
  margin-top: 10px;
}
